@page "/AddManual"
@using PubtracSSPoc.Data
@inject ManualService manualService
@inject NavigationManager NavigationManager

<h2>Add Manual</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Manual</label>
                <input form="Name" class="form-control" @bind="@obj.Manual" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Manual Number</label>
                <input form="Name" class="form-control" @bind="@obj.ManualNo" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Last Revision</label>
                <input form="Name" class="form-control" @bind="@obj.LastRevNo" />
            </div>

            <div class="form-group">
                <label for="Name" class="control-label">Last Bulletin</label>
                <input form="Name" class="form-control" @bind="@obj.LastBullNo" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Last Change</label>
                <input form="Name" class="form-control" @bind="@obj.LastChangeNo" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateManual" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    PubtracSSPoc.Data.Manuals obj = new PubtracSSPoc.Data.Manuals();
    protected async void CreateManual()
    {
        await manualService.InsertManualAsync(obj);
        NavigationManager.NavigateTo("Manuals");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Manuals");
    }
}