@page "/DeleteManual/{Id}"

@using PubtracSSPoc.Data

@inject ManualService manualService
@inject ManualToCopyHolderService manualToCopyholderService
@inject NavigationManager NavigationManager

<h2>Delete Manual</h2>
<hr />
<h3>Are you sure want to delete this?</h3>
<h3>Any records linking the Manual to a Copyholder will also be deleted.</h3>
<br/>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>manual Id:</label>
                <label>@obj.ManualId</label>
            </div>
            <div class="form-group">
                <label>Manual Number:</label>
                <label>@obj.ManualNo</label>
            </div>
            <div class="form-group">
                <label>Name:</label>
                <label>@obj.Manual</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@DeleteTheManual" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    PubtracSSPoc.Data.Manuals obj = new PubtracSSPoc.Data.Manuals();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => manualService.GetManualAsync(Convert.ToInt32(Id)));
    }
    protected async void DeleteTheManual()
    {

        //if any manuals are linked to the deleted copyholder, wipe those out.
        var linkedRecords = await manualToCopyholderService.GetAllManualsToCopyHolderByManualByAsync(obj.ManualId);

        if (linkedRecords.Count > 0)
        {
            foreach (var record in linkedRecords)
            {
                await manualToCopyholderService.DeleteManualToCopyHolderAsync(record);
            }
        }



        await manualService.DeleteManualAsync(obj);
        NavigationManager.NavigateTo("Manuals");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Manuals");
    }
}